.jumbotron {
    background-image: url("../imgs/pizza.png");
    background-size: cover;
}
.jumbotron>h1{
    color: black;
    text-align: center;
    background-color: rgba(255,255,255, 0.9);
    opacity: 0.5;
}
#crustHeader{
    background-color: #2d7cf6;
    color: white;
}
.card{
    margin: 20px;
}
@media (max-width: 992px) {
    .jumbotron {
        display: none;
    }
}
