* {
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container {
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

ul {
    font-family: "Work Sans";
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
a {
    color: black;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}
a:hover {
    color: blue;
}
.logo-div {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    padding: .2em 0;
}