/*
multi
line
comment
*/
.fancy-header, th{
    color: #00008b; /* single line comment */
    text-decoration: underline;
}

body {
    font-family: 'Lato';
    background: #ccc url("https://designwoop.com/uploads/2012/05/17580-613x460.jpg");
}

h1 {
    text-align: center;
}

h2 {
    color: darkblue;
    text-decoration: underline;
}

em, strong {
    font-size: 1.1em;
    color: #00008b;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;

}
img {
    border: 5px solid #ccc;
    border-radius: 20px;
}

 ol {
    list-style: upper-latin;
}

 ul {
     list-style: square;
 }


 tr > td {
     text-align: center;
     font-size: 1.2em;
     border: 1px solid black;
     padding: 20px;
 }

 a:hover {
     background-color: lightgrey;
 }
 a:visited {
     color: #ee82ee;
 }
 a:active {
     color: #d3d3d3;
 }

footer {
    color: gray;
}
