#map {
    /* the width and height may be set to any size */
    width: 100%;
    height: 700px;
}
#card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    background-color: transparent;
}
.fa-poo-storm {
    position: absolute;
    right: 50%;
    top: 25px;
}
